@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Thing.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Light.woff2') format('woff2');
  font-weight: 200;
}